
/*this is a "pseudoclass": temporary state. you can't create your own they come with browser*/
a:hover, #selected {
    background-color: yellow;
}
a, a:hover {
    text-decoration: none;
    color: black;
}

/* I used this resource: https://stackoverflow.com/questions/17217766/two-divs-side-by-side-fluid-display */
#left {
  float: left;
  width: 300px;
  overflow: hidden;
}

#right {
  overflow: hidden;
  margin: 20px;
}