div {
    font-family: Helvetica Neue, sans-serif;
    color: black;
    /*width: 25%;*/
    /*padding: 10px;*/
    /*border: 5px solid gray;*/
    margin: 0;
}

/*this is a "pseudoclass": temporary state. you can't create your own they come with browser*/
a:hover {
    background-color: yellow;
}
a {
    color: black;
    text-decoration: none;
}

/* I used this resource: https://stackoverflow.com/questions/17217766/two-divs-side-by-side-fluid-display */
#left {
  float: left;
  width: 25%;
  overflow: hidden;
}

#right {
  overflow: hidden;
}


/*@media (min-width: 500px)*/
/*{*/
/*    body*/
/*    {*/
/*        background-color: red;*/
/*    }*/
/*}*/

/*@media (max-width: 499px)*/
/*{*/
/*    body*/
/*    {*/
/*        background-color: blue;*/
/*    }*/
/*}*/