div[id="left"] a:hover, #selected {
    background-color: yellow;
}
div[id="left"] a {
    text-decoration: none;
    color: black;
}

/* I used this resource: https://stackoverflow.com/questions/17217766/two-divs-side-by-side-fluid-display */
#left {
  float: left;
  width: 300px;
  overflow: hidden;
}


#right {
  overflow: hidden;
  margin: 20px;
}